<div class="top-container">
    <div class="image-container">
        <div class="nav-container">
            <div class="company-logo"><a href="index.html">AntiochRealEstate </a></div>
            <div class="nav-links">
                <div class="navs house-on-sale">
                    <i class="fas fa-home"></i>
                    <li class="nav-links-link house-text"><a href="index.html">House on Sale</a></li>
                </div>
                <div class="navs land-on-sale">
                    <i class="fas fa-landmark"></i>
                    <li class="nav-links-link land-text"><a href="index.html">Land on Sale</a></li>
                </div>
                <div class="navs rent-lease">
                    <i class="fas fa-key"></i>
                    <li class="nav-links-link key-text"><a href="index.html">Rent/Lease</a></li>
                </div>
                <div class="navs services">
                    <i class="fas fa-toolbox"></i>
                    <li class="nav-links-link services-text"><a href="./pages/navs/services.html">Construction</a></li>
                </div>
                <div class="navs map">
                    <i class="fas fa-user-friends"></i>
                    <li class="nav-links-link map-text"><a href="./pages/navs/contact.html">Contact</a></li>
                </div>
                <div class="lines">
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                </div>
            </div>
        </div>
        <div class="text-container">
            <h1>Progressive Spaces for a Better life</h1>
            <p>Don't dream your life but live your Dream</p>
            <small>-Mark Twain</small>
        </div>
    </div>
</div>
<div class="absolute-navs">
    <div class="house-wrapper">
        <li class="number">01/</li>
        <li class="absolute-navs-house absolute-text"><a href="index.html">House on Sale</a></li>
    </div>
    <div class="land-wrapper">
        <li class="number">02/</li>
        <li class="absolute-navs-land absolute-text"><a href="index.html">Land on Sale</a></li>
    </div>
    <div class="rent-wrapper">
        <li class="number">03/</li>
        <li class="absolute-navs-rent absolute-text"><a href="index.html">Rent/Lease</a></li>
    </div>
    <div class="map-wrapper">
        <li class="number">04/</li>
        <li class="absolute-navs-map absolute-text"><a href="./pages/navs/maps.html">Map</a></li>
    </div>
    <div class="services-wrapper">
        <li class="number">05/</li>
        <li class="absolute-navs-services absolute-text"><a href="./pages/navs/services.html">Construction</a></li>
    </div>
</div>
<div class="arrow-up">
    <i class="fas fa-arrow-up"></i>
</div>
<div class="cat-A">
    <h1>Category A</h1>
</div>
