<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find</title>
</head>
<body>
    <br><br><br>
    <h1>Enter the following information to find the data:</h1>
    <form action="" method="POST">
        <h3>Find by Id</h3>
        Id : <input type="text" name="id" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>